* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
}

body {
  background-color: #2B2B2B;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 85%;
  margin: auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0px;
  background-color: #2B2B2B;
}
.header__shrink {
  box-shadow: 0px 0px 10px skyblue;
  background-color: #2B2B2B;
}
.header__btn-hamburger {
  width: 20px;
  background-color: transparent;
  color: white;
  border: none;
}
.header__logo {
  font-size: 24px;
  font-weight: 600;
}
.header__logo img {
  height: 25 px;
}
.header__list {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  background-color: #2B2B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 0px 10px skyblue;
  transition: 0.3s;
}
.header__list .header__item__desc {
  padding: 8px 0px;
  color: white;
}
.header__list .header__item__desc:hover {
  color: #A259FF;
}
.header__list .header__btn {
  width: 130px;
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 15px 25px;
  border: none;
  background-color: #A259FF;
  border-radius: 20px;
  color: white;
  transition: 0.3s;
}
.header__list .header__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px grey;
}
.header__list-show {
  left: 0;
}
@media (min-width: 950px) {
  .header .header__list {
    position: static;
    flex-direction: row;
    box-shadow: none;
    height: auto;
    width: auto;
  }
  .header .header__btn-hamburger {
    display: none;
  }
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 80px 0px;
}
.hero img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero #img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 190px;
}

@media (min-width: 580px) {
  .hero img {
    height: 280px;
  }
  .hero #img {
    width: 100px;
    height: 100px;
    top: 230px;
  }
}
@media (min-width: 1024px) {
  .hero img {
    height: 350px;
  }
  .hero #img {
    top: 300px;
    left: 100px;
  }
}
@media (min-width: 1400px) {
  .hero img {
    height: 450px;
  }
  .hero #img {
    top: 400px;
    left: 230px;
  }
}
.animakid {
  height: auto;
  margin-top: 80px;
}
.animakid__title {
  color: white;
  font-size: 28px;
}
.animakid__cards {
  display: grid;
  grid-template-columns: 5, 1fr;
  row-gap: 30px;
}
.animakid__card .followers {
  display: grid;
  grid-template-columns: auto auto auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.animakid__card .followers .follow h1 {
  font-size: 22px;
  color: white;
}
.animakid__card .followers .follow h2 {
  font-size: 16px;
  color: white;
}
.animakid__card h3 {
  padding: 0px 0px 10px 0px;
  font-size: 16px;
  color: #858584;
}
.animakid__card p {
  color: white;
  font-size: 16px;
  line-height: 22.4px;
  word-spacing: 3px;
}
.animakid__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  border: none;
  gap: 5px;
  background-color: #A259FF;
  border-radius: 20px;
  color: white;
}
.animakid__flow__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 25px;
  gap: 5px;
  margin: 20px 0px 0px 0px;
  background-color: transparent;
  border: 2px solid #A259FF;
  border-radius: 20px;
  color: white;
}
.animakid hr {
  margin-top: 20px;
}
.animakid .tabs {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.animakid .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.animakid .tabs .tab p {
  font-size: 14px;
  padding: 0px 10px;
  color: #858584;
}
.animakid .tabs .tab p:hover {
  color: white;
}
.animakid .tabs .tab h3 {
  display: none;
  color: white;
  padding: 8px 15px;
  background-color: #3B3B3B;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .animakid__card:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  .animakid__card:nth-child(2) button {
    width: auto;
    margin: 0;
    font-size: 18px;
  }
  .animakid__title {
    font-size: 34px;
  }
  .animakid__card h3 {
    font-size: 20px;
  }
  .animakid__card p {
    font-size: 18px;
  }
  .animakid__card .followers {
    width: 600px;
  }
  .animakid__card .followers .follow h1 {
    font-size: 28px;
  }
  .animakid__card .followers .follow h2 {
    font-size: 26px;
  }
  .animakid .tabs .tab p {
    font-size: 20px;
  }
  .animakid .tabs .tab h3 {
    display: block;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .animakid__card:nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    gap: 20px;
  }
  .tabs .tab h3 {
    display: block;
  }
}
.posts {
  width: 100%;
  height: auto;
  background-color: #3B3B3B;
}

.container {
  width: 85%;
  margin: auto;
  height: auto;
}
.container .cards {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 30px;
}
.container .card {
  width: 100%;
  height: auto;
  background-color: #2B2B2B;
  border: 1px solid white;
  border-radius: 20px;
}
.container .card img {
  width: 100%;
}
.container .card .card__title {
  font-size: 22px;
  color: white;
  padding: 10px 15px;
}
.container .card .img {
  padding: 0px 15px;
}
.container .card .card__info {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.container .card .right {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.container .card .right h3 {
  color: #858584;
  padding: 5px 0px;
}
.container .card .right p {
  color: white;
  padding: 5px 0px;
}
.container .card .left h3 {
  padding: 5px 0px;
  color: #858584;
}
.container .card .left p {
  color: white;
  padding: 5px 0px;
}

@media (min-width: 768px) {
  .posts .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .posts .card:nth-child(9) {
    display: none;
  }
}
@media (min-width: 1200px) {
  .posts .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .posts .card:nth-child(9) {
    display: block;
  }
}
.footer {
  width: 100%;
  height: auto;
  background-color: #3B3B3B;
  margin-top: 50px;
  padding: 20px 0px;
}
.footer .footer__cards {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 185px 161px 227px;
  row-gap: 30px;
}
.footer .footer__card {
  width: 100%;
  display: grid;
}
.footer .footer__card p {
  font-size: 16px;
  color: #CCCCCC;
}
.footer .footer__card h2 {
  font-size: 22px;
  color: #fff;
}
.footer .footer__card h3 {
  font-size: 22px;
  color: white;
}
.footer .footer__card input {
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0px 20px;
}
.footer .footer__card button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #A259FF;
  color: white;
  outline: none;
  border: none;
  margin: 20px 0px 0px 0px;
}

@media (min-width: 992px) {
  .footer {
    height: 230px;
  }
  .footer .footer__cards {
    display: grid;
    grid-template-columns: auto auto auto;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}